
/.cuda-name
/build
__pycache__/
cosmos-policy.tar
checkpoints/
rollouts/
LIBERO-Cosmos-Policy
cosmos_policy/experiments/robot/libero/logs/
*.json
cosmos-policy.sif
error_logs/
infer_jobs/
*.out
*.err
*.mp4
*.hdf5
*.png
slurm_jobs/
.venv/
wandb/
checkpoints/
rollouts/
LIBERO-Cosmos-Policy/
packnet_states/
ewc_states/
figures/
*.mp4
*.hdf5
*.png
*.pdf
__pycache__/
.DS_Store
